<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244775951103-scr8mh4c5hrqiv55q16pt2nehr49vh61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244775951103-scr8mh4c5hrqiv55q16pt2nehr49vh61</string>
	<key>API_KEY</key>
	<string>AIzaSyCXsMUkRJ0XF-vK1520-1Wg5UCQoTmBzy8</string>
	<key>GCM_SENDER_ID</key>
	<string>244775951103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.Ilya-Swayder</string>
	<key>PROJECT_ID</key>
	<string>bresearch-621c1</string>
	<key>STORAGE_BUCKET</key>
	<string>bresearch-621c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244775951103:ios:b3275178d2b4de3c0c0aca</string>
	<key>DATABASE_URL</key>
	<string>https://bresearch-621c1.firebaseio.com</string>
</dict>
</plist>